.hero {
  position: relative;
  height: fit-content;
  padding-block: 15.5rem;
  padding-bottom: 24rem;
  margin-bottom: 20rem;
  border-top: 4px solid rgba(0, 0, 0, 0.02);
  box-shadow: 0 180px 0 var(--white--ligth);
  margin-top: 4rem;
}

.container--middle {
  padding-block: 4rem;
  padding-bottom: 6rem;
  background-color: #FC7000;
  overflow: hidden;
}

.text--hero {
  max-width: 95.5rem;
  width: 100%;
  border-left: 20px solid #fff;
  padding-left: 40px;
}

.img--hero {
  position: absolute;
  max-width: 600px;
  height: 760px;
  display: block;
  right: 80px;
  top: 40px;
  z-index: 99;
  border-radius: 8px 8px 0 0;
  /* box-shadow: 0 -10px 22px rgba(0, 0, 0, 0.02); */
  transition: .5s all;
}

.ativado .img--hero{
  animation: balancar .5s linear;
  transition: all .5s;
}

@keyframes balancar {
  0%{
    opacity: 0.6;
    transform: scale(1.5);
    transition-delay: 3s;
  }
  
    100%{
    opacity: 1;
    transform: scale(1);
    transition-delay: 2s;
  }
}
.heading--title {
  font-size: 5rem;
  color: #F8F9FC;
}

.hero p {
  font-size: 2.2rem;
  color: #50504e;

  & strong {
    color: #f9eaaf;
    font-size: 20px;

  }
}
/* Circlo coom possition absolute */
.circlo{
  position: absolute;
  top: 0;
  right: 40px;
  border-radius: 50%;
  size: 200px;
  height: 600px;
  width: 600px;
  background: #f8f9fc38;
}
/* Box Produtos */
.galleria--podutos {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4rem 6rem;
  padding-left: 4rem;
  transform: translateY(190px);
  width: 1200px;

}

.box--produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  padding: 4rem 2rem;
  overflow: hidden;
  /* background-color: #fff; */
}

.box--dethales {
  position: relative;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 6px;
  background-color: #FC7000;
  padding: 2rem;
  border-radius: 9px;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.02);

}
.box--dethales h3{
  font-size: 2rem;
  color: #F8F9FC;
}
.box--dethales p{
  font-size: 1.8rem;
  color: #021e1b;
}